.logo {
  max-width: 150px;
  max-height: 150px;
}
.categories-col {
  padding: 5px;
}

.navlink {
  color: #ffffff;
  font-family:'TimesNewRoman';
  font-size: 1.5rem;
  text-decoration: none;
  text-align: right ;
  
}

.navlink:hover {
  color: #ddbf3b;
}

.cardheader {
  background-color: #ddbf3b;
}

.h1 {
  font-family: 'TimesNewRoman';
  font-size: 2.3rem;
}

.h2 {
  font-family: 'TimesNewRoman';
  font-size: 2rem;
}

.h3 {
  font-family:'TimesNewRoman';
  font-size: 1.7rem;
}

.h4 {
  font-family:'TimesNewRoman';
  font-size: 1.2rem;
}
.h5 {
  font-family: 'TimesNewRoman';
  font-size: 1rem;
}




.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.img-thumbnail {
  border: none;
  border-radius: 0;
}

.btnhover:hover {
  opacity: 0.50;
}
.intro{
  margin-top: 3rem;
  padding: 5%;
  background-color: #70BA89;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
